{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h2>{{thread.subject}}</h2>

<!--New post-->
<h3>New Post</h3>
<!--
<form action="{{url_for('posts.createPost', threadId=thread.id)}}", method="POST">
    {{ createPostForm.hidden_tag() }}
    <p>
        {{createPostForm.body.label}}<br>
        {{createPostForm.body()}}<br>
    </p>
    <p>{{createPostForm.submit()}}</p>
</form>
-->
{{ wtf.quick_form(createPostForm) }}

{{ckeditor.load()}}
{{ckeditor.config(name='body')}}

<!--Posts-->
{% for post in posts %}

    <div class="post">
        <!--Author-->
        <div class="post.author">
            {{post.author.username}}
        </div>
        <!--Post Body-->
        <div class="post.body">
            {{post.body|safe}}
        </div>

        <!--Post Ranking-->
        <div class="flex-container">
            <div id="{{post.id}}_ranking" class="post.ranking">
                {{post.ranking}}
            </div>
            <a href="javascript:upvote('#{{post.id}}_ranking', '{{post.id}}', '{{current_user.id}}');">Upvote</a>
            <a href="javascript:downvote('#{{post.id}}_ranking', '{{post.id}}', '{{current_user.id}}');">Downvote</a>
        </div>
    </div>

{%endfor%}

<!--Navigation links to next/prev page-->
{% include 'utility/paginationNav.html' %}

{%endblock%}